@font-face {
    font-family: 'CookieRun';
    src: url('../public/assets/CookieRun_Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    src: url('../public/assets/NotoSansKR-Regular.otf') format('truetype');
}